@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import "variables";



h1 {
  font-family: $font-stack;
}

.red {
  color: $primary-color;
}
.blue {
  color: $primary-color2;
}
.box{
  @include box(50px);
  background-color: red;

}
